<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fada21.android.kissendo">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--ACTIVITIES-->
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--RECEIVERS-->
        <receiver
            android:name=".sending.SendSMSBroadcastReceiver"
            android:exported="false"
            android:permission="android.permission.SEND_SMS">
            <intent-filter>
                <action android:name="com.fada21.android.kissendo.SEND_SMS_BROADCAST"/>
            </intent-filter>
        </receiver>
        <!--ALIAS-->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>

</manifest>